<h3>Keep on practicing!</h3>
<h4>Enter your practice session below:</h4>

<form action="/practice-sessions" method="post">
    <label>Date:</label>
    <input type="date" name="date"><br/>
    <label>Practice Items:</label>
    <input id="textboxid" type="text" name="practice_item" placeholder="Enter Your Practice Items"><br/>
    <label>Duration:</label>
    <input id="textboxid" type="text" name="duration" placeholder="How long did you practice?"><br/>
    <label>Notes:</label>
    <input id="textboxid" type="text" name="notes" placeholder="How was your practice? Write anything you would like to take note of."><br/><br/>
    <input type="submit" value="Submit">
</form>