<h2>Hi, <%= current_user.username %>!</h2>

    <% if @user.practice_sessions != "" %>
        <h4>Here are your practice sessions:</h4>
        <p><%= @user.practice_sessions.each {|ps| ps.practice_item }  %></p>
    <% end %>

<a href="/logout">Log Out</a>