<h2>Hi, <%= current_user.username %>!</h2>

    <% if @user.practice_sessions.present? %>
        <h4>Here are your practice sessions:</h4><br/>
        <% @user.practice_sessions.each do |ps| %>
            <p><%= ps.practice_item %></p>
        <% end %>
    <% end %>

    <p><a href="/practice-sessions/new">Add Practice Session</a></p>
    <p>Not feeling inspired? See everyone's <a href="/practice-sessions">practice sessions</a>.</p>

<p><a href="/logout">Log Out</a></p>