<h3>Welcome back, buddy! Please log in.</h3>

<% if @failed_login %>
    <p>The username and password did not match. Please try again.</p>
<% end %>
<form action="/login" method="post">
    <label>Username:</label>
    <input type="text" name="username" placeholder="Enter your username" value="<%= @user.username %>"><br/>
    <label>Password:</label>
    <input type="password" name="password" placeholder="Enter your password"><br/><br/>
    <input type="submit" value="Log In">
</form>